.article_block {
  margin:0 -20px;
  padding-bottom: 2.6em;
  width: 100%;
  position: relative;

  .row:first-of-type {
    margin: 0;
  }
  .element {
    margin: 10px 0;
  }

  .entry-item {
    background-color: #FFFFFF;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    .box-shadow(0 1px 2px rgba(0,0,0,0.15));

    .featured-img {
      margin:-20px -20px 1.6em -20px;
      overflow: hidden;

      img {
        .transition(all 0.2s ease-in-out 0s);
        &:hover { .transform(scale(1.1)); }
      }
    }
    header {
      h2.entry-title { font-size: 1.6em; font-style: italic; margin-bottom: 1em }
    }
    .btn { margin: 1em auto; position: relative; }
  }

  .entry-summary .cat-author {
    display: block; text-align: center; margin: 1.6em 0 1em 0; font-style: italic; position: relative;

    &:after {
      width: 1.6em;
      height: 3px;
      content: "";
      display: inline-block;
      position: absolute;
      top: -12px;
      background: @brand-primary;
      left: 50%;
      margin-left: -10px;
    }
  }

  // pagination
  .pagination {
      display: none;
      visibility: hidden;
    text-align: center;
  }
  #infscr-loading { position: absolute; bottom: 1em; left: 50%;  display: block; padding: 0; text-align: center; }

}
@media (min-width: @screen-lg-min) { .article_block #infscr-loading { margin-left: -200px; width: 400px; } }
