.article_block {
  margin:0 -20px;

  .element {
    margin-bottom: 20px;
    display: none;
    opacity: 0;
  }
  .element.show { opacity: 1; display: block; .transition(all 2s ease-in-out) }

  .entry-item {
    background-color: #FFFFFF;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    .box-shadow(0 1px 0 rgba(0,0,0,.15),0 0 1px rgba(0,0,0,.3));

    .featured-img {
      margin:-20px -20px 1.6em -20px;
    }
    header {
      h2.entry-title { font-size: 1.6em; font-style: italic; margin-bottom: 1em }
    }
    .btn { margin: 1em auto; position: relative; }
  }

  // pagination
  .pagination {
      display: none;
      visibility: hidden;
  }


}
