.content-info {
	background-color: @gray-darker;
	background-image: url(../img/footer_shadow.png);
	background-position: top center;
	background-repeat: no-repeat;

	.widget {
		margin-top: 2.6em;
		margin-bottom: 2.6em;

		h4 {
			font-family: @sans-serif; text-transform: uppercase;
			color: @gray-lighter; font-size: 1em;
			font-weight: bold;
			margin: 1em 0
		}
		ul {
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			li ul { padding-left: inherit }
			li {
				padding: 0.6em 0;
				border-bottom: 1px solid@gray-dark;
				font-size: 1em;
				font-family: @sans-serif;
				color: @gray-light;

				&:last-child { border-bottom: 0 }
				a  { color: @gray-light; }
				a:focus, a:hover { color: @brand-primary }
			}
		}
	}

	.bottom {
		border-top: 1px solid @gray-dark;
		padding: 1em 15px;

		.copyright, .brand {
			font-family: @sans-serif;
			text-align: center;
			color: @gray-lighter;
			padding-bottom: 1em;
		}
		.copyright_logo {
			font-family: @serif; font-style: italic;
			color: @gray-lighter;
		  }
	}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	.content-info .widget { .opacity(0); }
}
/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {
	.content-info .bottom .brand {
		text-align: left; padding-bottom: 0;
	}
	.content-info .bottom .copyright {
		text-align: right; padding-bottom: 0;
	}
}
